@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
        url("../fonts/Montserrat-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
        url("../fonts/Montserrat-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: "Montserrat", "Arial", sans-serif;
}
.theme-toggler {
    border: none;
    color: #fff;
    padding: 15px 25px;
    font-size: 28px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #fff;
    transition: opacity 0.2s linear;
}
.theme-toggler:hover {
    opacity: 0.7;
}
#app {
    text-align: center;
    margin: 0 auto;
    width: 1140px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.heading {
    font-size: 64px;
    text-transform: uppercase;
}
.button-group {
    padding-top: 100px;
}
.theme-toggler--blue {
    background-color: blue;
}
.theme-toggler--red {
    background-color: red;
}
.theme-toggler--limegreen {
    background-color: limegreen;
}
.theme-toggler--darkblue {
    background-color: darkblue;
}
.theme-toggler--lightgreen {
    background-color: lightgreen;
}
.theme-toggler--purple {
    background-color: purple;
}
